body {
  font-family: "Elms Sans", sans-serif;
  margin: 0;
  position: relative;
  overflow: hidden;
}

.titles-container {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 5px;
  color: #B5B9F0;
  background-color: #0B0909;
}

.media-container {
  padding: 5px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  background-color: #313866;
  color: #FE7BE5;
}

.content {
  max-width: 800px;
  text-align: center;
  margin: 0 auto;
}

.media-container .content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}

.media-container p {
  max-width: 360px;
  margin: 0;
  text-align: left;
  font-style: italic;
  text-wrap-style: pretty;
  line-height: 24px;
}

#galaxy{
  max-width: 50%;
  flex: 0 0 auto;
  height: auto;
  transition: transform 0.7s cubic-bezier(0.22, 1, 0.36, 1);
  transform-origin: center;
  will-change: transform;
	position: relative;
	z-index: 2;
  display: block;
  margin: 0 auto;
}

#galaxy:hover {
  transform: scale(1.06);
	z-index: 9;
}

.container {
  scroll-snap-type: y mandatory;
  height: 100vh;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.child {
  scroll-snap-align: start;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 1rem;
}

h2 {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

@media (max-width: 600px) {
  body::before, body::after {
    display: none;
  }

  #app {
    padding: 1rem;
  }
}

.star {
	position: fixed;
	pointer-events: none;
}

.star:before, .star:after {
	position: absolute;
	top: 0;
	left: 0;
	content: '\2726';
	font-size: 9px;
}

.star:before {
	color: transparent;
	text-shadow: 0 0 3px rgb(250, 250, 174);
}

.star:after {
	background: rgb(246, 246, 153);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.search-input {
  width: 100%;
  height: 64px;
  padding: 0 22px;
  border-radius: var(--radius);
  border: 1px solid rgba(255,255,255,.65);
  background: transparent;
  color: var(--text);
  font-size: 20px;
  outline: none;
  transition: box-shadow .18s ease, border-color .18s ease;
}

.search-btn {
  width: 50%;
  height: 64px;
  border: 0;
  border-radius: var(--radius);
  background: var(--accent);
  color: #B5B9F0;
  border: 1px solid rgba(255,255,255,.65);
  font-weight: 500;
  font-size: 24px;
  cursor: pointer;
	font-weight: bold;
}